a {
  color: black;
}

a:visited {
  color: black;
}
a:hover {
  color: red;
}
a:active {
  color: green;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

#circle {
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: none;
  border: 2px solid #d9d9d9;
  pointer-events: none;
  z-index: 999;
  opacity: 1;
  transition: opacity 0.3s ease;
}
