* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NanumSquareRound";
  text-decoration: none;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

main {
  padding-top: 10rem;
}

section.body-wrapper {
  width: 55%;
  margin: 0 auto;
  padding: 0 1rem;
  animation: change 1s ease forwards;
}

.page-title {
  font-size: 2rem;
}

a {
  color: black;
}

a:visited {
  color: black;
}
a:hover {
  color: red;
}
a:active {
  color: green;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TAEBAEKmilkyway";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

#circle {
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: none;
  border: 2px solid #000000;
  pointer-events: none;
  z-index: 999;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

@keyframes change {
  from {
    transform: translateX(100%);
    visibility: visible;
  }

  to {
    transform: translateX(0%);
  }
}
